{% extends 'manage_site/base.html' %}
{% load static %}
{% block page_title %}
    登录
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'users/js/users.js' %}"></script>
{% endblock %}

{% block body %}
      <section class="container a-join">
    <div class="box">
        <form class="form form-group" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ LoginForm.as_p }}
            <button type="submit" class="btn btn-primary btn-block">登录</button>
        </form>
            <button class="btn btn-block btn-default"> <span>没有账号？<a href="{% url 'register' %}">立即注册</a></span></button>
        <button class="btn btn-block btn-default"><span><a href="{% url 'forget' %}">忘记密码？</a></span></button>
    </div>
      </section>
{% endblock %}