{% extends 'manage_site/base.html' %}
{% load static %}
{% block page_title %}
    密码重设
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'users/js/users.js' %}"></script>
{% endblock %}

{% block body %}
 <style>
        .errorlist {
            color: red;
        }
    </style>
    <section class="container a-join">
    <div class="box">
        <form class="form" action="{% url 'reset' active_code %}" method="post">
                    {% csrf_token %}
                    {% for field in modify_form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    {% if err_msg %}
                    <p class="errorlist">{{ err_msg }}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">确认修改</button>
                </form>
    </div>
      </section>

{% endblock %}