{% extends 'manage_site/base.html' %}
{% load static %}
{% block page_title %}
    注册
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'users/js/users.js' %}"></script>
{% endblock %}

{% block body %}
 <style>
        .errorlist {
            color: red;
        }
    </style>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>注册</h3>
                <form class="form" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% for field in RegisterForm %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    {% if err_msg %}
                    <script>
                        (function () {
                            alert('{{ err_msg }}')
                        })()
                    </script>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="flex-center top-gap text-small">
                    <a href="{% url 'login' %}">已有账号登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}