{% extends 'manage_site/base.html' %}
{% load static %}


{% block page_title %}
    个人中心
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'users/js/users.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- todo:message框框 -->
    <!-- 个人信息 -->
<section class="container">
<div class="user-info">
<div class="user-img ">
    <a href="" data-toggle="modal" data-target="#changeImg"><img src="{{ user_info.image.url }}" alt="用户头像" style="width:96px;height: 96px" class="img-circle"></a>
</div>
    <div class="user-tab ">
    <h3>{{ user_info.username }}</h3>
    <p>{% if user_info.is_member %}您是社团成员{% endif %}</p>
    <div class="line"></div>
    <p>邮箱：{{ user_info.email }}</p>
    <p>学院：{{ user_info.get_department_display }}</p>
    <p>省份：{{ user_info.get_address_display|default:'未填' }}</p>
    <p>性别：{{ user_info.get_gender_display|default:'未填' }}</p>
    {% if user.id == user_info.id %}
    <p><a href="{% url 'forget' %}" class="btn btn-default" role="button">修改密码</a>  <a href="" data-toggle="modal" data-target="#changeInfo" class="btn btn-default" role="button">修改个人信息</a></p>
        <!-- 个人信息弹出框 -->
        <div class="modal fade" id="changeInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="changeInfo" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-group" id="user-form">
                  {% csrf_token %}
                      {% for field in user_info_form %}
                          {{ field.label }}
                          {{ field }}
                          {{ field.help_text }}
                      {% endfor %}
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button id="info-button" type="button" class="btn btn-primary">保存</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 头像弹出框 -->
        <div class="modal fade" id="changeImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="changeInfo" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改头像</h4>
              </div>
              <div class="modal-body">
                <div class="hovertreecontainer">
                <div class="imageBox">
                    <div class="thumbBox"></div>
                    <div class="spinner" style="display: none">Loading...</div>
                </div>
                <div class="cropped"></div>
                </div>
              </div>
              <div class="modal-footer">
                  <button  type="button" class="btn btn-info" style="float: left;line-height: 14px">
                      <label for="upload-file">上传图像</label>
                  </button>
                  <input type="file" class="" name="upload-file" id="upload-file" style="display: none" />
                  <div class="btn-group" role="group" aria-label="Default button group">
                      <button type="button" id="btnZoomOut" class="btn btn-default ">缩小</button>
                      <button type="button" id="btnCrop" class="btn btn-default ">剪切</button>
                      <button type="button" id="btnZoomIn" class="btn btn-default ">放大</button>
    </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button id="img-button" type="button" class="btn btn-primary">保存</button>
              </div>
            </div>
          </div>

        </div>
<script>
{#修改个人信息#}
$.ajaxSetup({
    data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
});//切记django的ajax使用post需要加上这个参数 否则csrf验证过不了
$("#info-button").click(function () {
    $.ajax({
        type: "POST",
        url:'{% url 'user_info' user_id %}',
        data:$('#user-form').serialize(),
        error: function(request) {
         alert('服务器正忙，请稍后再试');
        },
        success: function(data) {
             if(data.data == 1) {
                 alert('数据不符合规范，请重新输入');
             }
             if(data.data == 0){
                 alert('修改成功！');
                 window.location.href="{% url 'user_info' user_id %}";
             }
             if(data.data == -1){
                 alert('您没有操作权限');
             }
        }
     });
 });

//===================base64转为blob==================
function convertBase64UrlToBlob(urlData){

    var bytes=window.atob(urlData.split(',')[1]);        //去掉url的头，并转换为byte

    //处理异常,将ascii码小于0的转换为大于0
    var ab = new ArrayBuffer(bytes.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < bytes.length; i++) {
        ia[i] = bytes.charCodeAt(i);
    }
    return new Blob( [ab] , {type : 'image/png'});
}




$("#img-button").click(function () {
    var f_img = convertBase64UrlToBlob($('#f-img')[0].src);
    var formData = new FormData();
    formData.append('user_img',f_img);
    formData.append('csrfmiddlewaretoken','{{ csrf_token }}');
    $.ajax({
        type: "POST",
        url:'{% url 'change_img' user_id %}',
        data:formData,
        processData : false,
        contentType : false,
        error: function() {
         alert('服务器正忙，请稍后再试');
        },
        success: function(data) {
            alert(data.data);
        }
     });
 });
</script>
<script>
$(function() {
	var options =
	{
		thumbBox: '.thumbBox',
		spinner: '.spinner',
		imgSrc: '{{ user_info.image.url }}'
	};
	var cropper = $('.imageBox').cropbox(options);
	$('#upload-file').on('change', function(){
		var reader = new FileReader();
		reader.onload = function(e) {
			options.imgSrc = e.target.result;
			cropper = $('.imageBox').cropbox(options);
		};
		reader.readAsDataURL(this.files[0]);
		this.files = [];
	});
	$('#btnCrop').on('click', function(){
		var img = cropper.getDataURL();
		$('.cropped').html('');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" id="f-img" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
	});
	$('#btnZoomIn').on('click', function(){
		cropper.zoomIn();
	});
	$('#btnZoomOut').on('click', function(){
		cropper.zoomOut();
	})


    var img = cropper.getDataURL();
});
</script>


{% endif %}
</div>

</div>





</section>
    <!-- 二级导航 -->
<section class="container">
<div class="u-nav">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">课程</a></li>
  <li role="presentation"><a href="#">社团活动</a></li>
  <li role="presentation"><a href="#">敬请期待</a></li>
</ul>
</div>
</section>
    <!-- 课程列表 -->
<section class="container course-list">
    <div class="row" style="min-height: 300px">
    {% if all_course %}
             {% for course in all_course %}
         <div class="courses-item col-sm-6 col-md-4 col-lg-4">
    <div class="thumbnail">
        <a href="{% url 'course_detail' course.course.id %}"><img src="{{ course.course.image.url }}" alt=""></a>
        <div class="caption">
        <h3>{{ course.course.name }}</h3>
        <p>已有{{ course.course.students }}人参与</p>
        <p>浏览{{ course.course.click_nums }}次</p>
        <p>{{ course.course.description }}</p>
      </div>
    </div>
  </div>
    {% endfor %}
    {% else %}
        <h4>您还没有报名任何活动</h4>
        <button class="btn-default btn-primary"><a href="{% url 'course_list' %}">随便逛逛</a></button>
    {% endif %}
    </div>
</section>
{% endblock %}


{% block aaa %}

<h2>注册的课程</h2>






{% endblock %}
