{% extends 'manage_site/base.html' %}
{% load static %}
{% block page_title %}

    <style>
    body{
    background-color: #f2f2f2;
        height: 100%;
    }
    </style>
    课程详情
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'courses/course.css'  %}">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 30px" >
        <div class="row">
        <div class="c-detail col-lg-3 col-md-3 hidden-sm">
            <div class="thumbnail">
              <img src="{{ course.image.url }}" alt="...">
              <div class="caption">
                <h3>{{ course.name }}</h3>
                <p>{{ course.degree }}</p>
                  <p><span class="glyphicon glyphicon-user">{{ course.students }}人学习</span></p>
                  <p>{{ course.detail }}</p>
                  <p><a class="btn btn-primary join-course">加入此课程</a></p>

              </div>
            </div>

        </div>
        <div class="l-detail col-lg-9 col-md-9">
            {%  if lesson_list_future %}
    {% for lesson in lesson_list_future %}
        <div class="thumbnail box col-lg-6 col-md-6">
        <h4>{{ lesson.name }}</h4>
        <p>开始时间：{{ lesson.start_time }}</p>
        <p>讨论地点：{{ lesson.classroom }}</p>
        <p>已有{{ lesson.stu_num}}人报名</p>
        <a class="btn btn-primary"  onclick="join_lesson({{ lesson.id }}) ">报名</a>
        </div>
    {% endfor %}
        {% else %}
        <p>暂无</p>
    {% endif %}
            {% if lesson_list_history %}
     {% for lesson in lesson_list_history %}
<div class="thumbnail box col-lg-6 col-md-6">
  <p>活动名称：{{ lesson.name }}</p>
        <p>开始时间：{{ lesson.start_time }}</p>
        <p>讨论地点：{{ lesson.classroom }}</p>
        <p>已有{{ lesson.stu_num}}人报名</p>
        <a  class="btn btn-default disabled"  onclick="alert('活动已过期')">报名</a>
        </div>
    {% endfor %}
    {% else %}
    <h4>暂时没有活动</h4>
    {% endif %}
 </div>

    </div>

    </div>

    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
        $('.join-course').click(function () {
            $.ajax({
                url:'course_join_ajax',
                type:'POST',
                data:{'user_id':'{{ user.id }}'},
                success:function (data) {
                    alert(data.data)
                }
            })
        });
        function join_lesson(lesson_id) {
            $.ajax({
                url:'lesson_join_ajax',
                type:'POST',
                data:{'user_id':'{{ user.id }}',
                      'lesson_id':lesson_id
                },
                success:function (data) {
                    alert(data.data)
                }
            })
        }
    </script>
{% endblock %}


{% block aa %}
    <img src="{{ course.image.url }}" alt="课程图片">
    <p>课程名称：{{ course.name }}</p>
    <p>开始时间：{{ course.add_time }}</p>
    <p>课程难度：{{ course.degree }}</p>
    <p>已经有{{ course.students }}人参与</p>
    <p>点击数：{{ course.click_nums }}</p>
    <p>收藏数：{{ course.fav_nums }}</p>
    <p>课程简介：{{ course.description }}</p>
    <p>详细信息：{{ course.detail }}</p>
    <br>
    <h3>章节信息：</h3>

    <br>
    <h4>负责人信息</h4>
    <img src="{{ course.teacher.photo.url }}" alt="负责人照片" width="auto" height="100px">
    <p>姓名：<a href="{% url 'user_info' course.teacher.id %}">{{ course.teacher }}</a></p>
    <p>当前年级：{{ course.teacher.edu_bak }}</p>
    <p>点击量：{{ course.teacher.click_num }}</p>
    <p></p>

{% endblock %}